{% extends "base.html" %}
{% block content %}

<div class="container" style="margin-top: 60px;">
            <div class="container"><h1> 🙃 FaceExp-V2.0 <span style="font-size: 20px; color: gold;">-by Anshul Nagar</span> </h1></div>
            <div class="container">
            <p>This Web App is built using technologies & API's such as Tensorflow, Flask ,Open-CV, JQuery ,Bootstrap-4 and many more.
                In this project my all skills are applied such as front-end and back-end web development using python flask , jquery, javascript ,Bootstrap-4 and html-5. 
                Creating Training and Deploying Machine Learning models using Tensorflow and keras API's. Image Processing and Faces detection using OpenCV and MTCNN-classifier.
            </p>
            </div>
            <div class="container">
            <h3>WorkFlow of App </h3>
            <ol>
                <li>Resize picked image using javascript</li>
                <li>Send the resized image to server via POST method</li>
                <li><span style="background-color:tomato;">Store the recieved image in server</span> then preprocess the image </li>
                <li>Extract cropped images of faces using OpenCV av and MTCNN-classifier</li>
                <li>process the cropped images for the ML Model</li>
                <li>fetch the images into CNN model and recieve the results</li>
                <li>Send the results with cropped images of faces back through POST method</li>
                <li>Display the results by manipulating DOM by javascript</li>
            </ol>
            </div>

            <form id="feedbackform">
                <div class="container form-group" style="text-align: center; border-top: 4px solid gold;">
                    <div style="margin-bottom: 3%;">Feedback Form</div>
                    <div class="d-inline-block">
                        <input type="text" name="feedback" class="form-control"  placeholder="Your Feedback">
                    </div>
                    <div class="d-inline-block">
                        <button type="submit" class="btn btn-warning">Submit</button> 
                    </div>
                </div>
            </form>

            <footer>
                <div class="container row" style="margin-left: 0%; margin-right: 0%; text-align: center; border-top: 4px solid gold">
                    <div class="col d-inline-block" ><a href="https://github.com/Anshulnagar00"><img src="https://cdn.iconscout.com/icon/free/png-512/github-153-675523.png" class="img-circle" alt="github-logo" width="40" height="40"><h6 style="color: white; padding-top: 4px;" >Github</h6></a></div>
                    <div class="col d-inline-block"><a href="https://www.linkedin.com/in/anshulnagar00/"><img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-linkedin-circle-512.png" class="linkedin-logo" alt="Cinque Terre" width="40" height="40" ><h6 style="color: white; padding-top: 4px;" >LinkedIn</h6></a></div>
                    <div class="col d-inline-block"><a href="https://www.kaggle.com/anshulnagar/account"><img src="https://storage.googleapis.com/kaggle-organizations/975/thumbnail.png%3Fr=497" class="img-circle" alt="kaggle-logo" width="40" height="40"><h6 style="color: white; padding-top: 4px;" >Kaggle</h6></a></div>
                </div>
                <div class="container" style="text-align: center; padding-bottom: 20px;">
                    <h4><span style="font-size: 18px;">E-mail : </span><span style="color: tomato;">nagaranshul9@gmail.com</span></h4>
                </div>
            </footer>
        </div>



<script type="text/javascript">

  var frm = $('#feedbackform');

    frm.submit(function (e) {

        e.preventDefault();
        var formData = {};
        $(frm).find("input[name]").each(function (index, node) {
            formData[node.name] = node.value;
        });

        $.ajax({
            type:"POST",
            url: "/receivefeedback",
            data: formData,
            success: function (data) {
                alert("Thanks for giving Feedback !");
                console.log('Submission was successful.');
                console.log(data);
            },
            error: function (data) {
                alert("An error occurred.");
                console.log('An error occurred.');
                console.log(data);
            },
        });
    });

</script>
{% endblock %}